html,body{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../image/51c0ee043501e5a054b95a3cf6a29351.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.backimg{
    background-color: rgba(0, 0, 0, 0.13);
    height: 100%;
    backdrop-filter: blur(17px);
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header img{
    margin: 10px;
    width: 400px;
    filter: invert(100%);
}
nav {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    background-color: rgba(255, 255, 255, 0.212);
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 10px;
    margin: 4px;
    color: white;
    text-decoration: none;
    transition: all .2s ease-out;
    backdrop-filter: blur(16px);

}
nav a:hover{
    transform: scale(1.2);
}
.slogn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}
.katalog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.tovar{
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(17px);
    padding: 10px;
    height: 500px;
}
.tovar img{
    width: 300px;
    height: 300px;
}
.tovar h1{
    text-align: center;
    font-size: 32px;
    margin: 5px;
}
.tovar p{
    font-size: 16px;
}
.tovar input{
    padding: 10px;
    width: 250px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.252);
    border: none;
    color: white;
    cursor: pointer;
}
.tovar input:hover{
    background-color: rgba(0, 0, 0, 0.352);

}